 {{!-- {{> header }} --}}

<div class="hero">

<header>

  <h1>{{title}}</h1>
  <p>Hello {{user_name}}!<span><a href="/likedPosts/{{user_id}}" style="padding: 30px;">My Likes</a></span></p>

</header>

 <div class='form'>
  <form action="/addPost"  method="POST">
            <input class="input-field" type="text" name="instrument type" placeholder="your instrumet" />
            <input class="input-field" type='text' name="description" placeholder="describe your instrument" />
            <input class="input-field" type="text" name="contact info" placeholder="add number" />
            <input class="input-field" type="number" name="price" placeholder="add price" />
            <input class="input-field" type="hidden" name="user_id" value="{{user_id}}">
           
            <input class="submit-btn" value="add" type="submit" />
        </form>
</div>
<ul  id="list" class="list">
  {{#each posts}} 
  <li class="user">
    <span>
    {{this.instrument_type}} 
    </span>
    <span>{{this.description}}</span>

    <span> {{this.contact_info}}</span>
    <span>{{this.price}}</span>
    <img class="likeIcon" onclick="func({{this.id}},{{user_id}})" src="/image/icon.jpg" alt="like" width="30" height="30"/>
</img>
    </li>
  {{/each}}
</ul>
      </div>
  <script src="/index.js"></script>
